body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #000; /* Черный фон */
    line-height: 1.6;
    color: #eee; /* Светло-серый текст */
}

h1, h2 {
    color: #eee; /* Светло-серый заголовок */
    text-align: center; /* Центрируем заголовки */
    margin-bottom: 10px; /* Добавлено для отступа */
}

div {
    max-width: 600px; /* Устанавливаем максимальную ширину для всех блоков */
    margin: 0 auto;
    padding: 20px;
    background-color: #222; /* Темно-серый фон для блоков */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень для блока */
    color: #eee; /* Светло-серый текст внутри блоков */
    margin-bottom: 20px; /* Отступ между блоками */
}

table {
    width: 100%; /* Таблица будет растягиваться на всю ширину блока */
    border-collapse: collapse;
    border-radius: 8px; /* Скругленные углы для таблицы */
    overflow: hidden; /* Скрываем переполнение для скругленных углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем легкую тень для таблицы */
}

th, td {
    border: 1px solid #555; /* Темно-серый бордер */
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333; /* Более темный фон для заголовков таблицы */
}

p {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    div, table {
        margin: 10px;
        padding: 15px;
    }
}
