body {
    font-family: sans-serif;
    margin: 0;
    background-color: #222;
    line-height: 1.6;
    color: #eee;
    display: grid; /* Используем grid */
    place-items: center; /* Центрирование по горизонтали и вертикали */
    min-height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1, h2 {
    color: #eee;
    margin-bottom: 15px;
}

div, table {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #444;
}

p {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
        padding: 15px;
    }
}